body{
  margin: 20px;
  padding: 0;
  background: #21263f;
}
.container{
  /* max-width: 760px; */
  max-width: 760px;
  margin: auto;
  /* border: #404040 solid 3px;
  background: #404040; */
}
.main-img img, .imgs img{
  width:100%;
}
.card{
  width:500px !important;
  margin-left:2rem;
}
.card-body{
  padding:2rem;
  width:500px !important;
}
.card-body, .imgs img{
  width:400px !important;
}
.imgs{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  width:auto;
  height:350px;
  background-size:cover;
}
.imgs img{
  width:100%;
}
h1{ 
  text-align:center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size:.8rem;
}
/* .fade-in{
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}*/

@media(max-width: 768px){
  .mb-resp{
    margin-bottom:1rem;
  }
}